{% extends "base.html" %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="notification is-success">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1 class="title has-text-centered">Menu</h1>
    <ul>
        <li><a href="{{ url_for('user.register') }}">Register</a></li>
        <li><a href="{{ url_for('user.make_appointment') }}">Make appointment</a></li>
        <li><a href="{{ url_for('list_appointments', order_by="appointment_datetime") }}">All appointments</a></li>
    </ul>
</div>

{% endblock %}